html,
body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: #070707;
}

* {
    margin: 0;
}

.header {
    padding: 28px 0;
    height: 60px;
}

.nav {
    padding: 20px 0;
    border-bottom: 1px solid #828282;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    text-align: center;

}


ul {
    padding-left: 0;
    text-align: center;
}

.li {
    display: inline-block;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #828282;
}

a:hover {
    color: #070707;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    padding-left: 0px;
    padding-top: 12px;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: left;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.about_me {
    height: 500px;
    display: block;
    text-align: center;
    background-color: #E5E5E5;
}

.section {
    padding: 100px 0;
    height: 500px;
    text-align: center;
}

h2 {
    font-size: 34px;
    font-weight: 700;
    padding-top: 100px;
    text-align: center;
}

h3 {
    font-size: 18px;
    text-align: center;

}

.content {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-top: 50px;
}

.p {
    margin-bottom: 30px;
}


/* ------ Додав wrap-logo - це обгортка для картинки --- */
.wrap-logo {
    height: 80px;
    margin-bottom: 25px;
}

/* --- Трохи змінив стилі картинки  */
.logo {
    width: auto;
    height: 100%;
}

.container_small {
    display: inline-block;
    max-width: 170px;
    max-height: 230px;
    padding: 0 42px;
}

.product_list {
    padding-top: 50px;
    padding-bottom: 100px;
}

.star {
    max-width: 26px;
    max-height: 26px;
}

/* Трохи змінив стилі і класс поміняв на зрозумілий */
.title {
    min-height: 40px;
    margin-bottom: 80px;
    font-size: 14px;
    line-height: 1.36;
    font-weight: 700;
}

.portfolio {
    background-color: #E5E5E5;
}

.pages {
    padding-top: 50px;
}

.pagesn {
    padding-top: 40px;
    padding-bottom: 70px;
}

.links {
    padding: 60px;
}

.button {
    width: 180px;
    height: 44px;
    background-color: #070707;
    border-radius: 22px;
}

.button-text {
    color: #E5E5E5;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: 700;
}

.social {
    padding-top: 30px;
}

.social-media {
    width: 40px;
    height: 40px;
    margin: 0 25px;
}

.fin {
    color: #828282;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 102px;
}